* {
  margin: 0;
  padding: 0;
}

.firstDiv {
  display: flex;
}
.firstDiv p {
  text-align: center;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
}

.secondDiv {
  display: flex;
}
.secondDiv p {
  text-align: center;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
}

/* responsive */
@media (max-width: 480px) {
  .firstDiv {
    max-width: 100%;
    display: block;
  }
  .firstDiv p {
    font-size: 15px;
    text-align: left;
    margin-left: 0;
  }
  .secondDiv {
    max-width: 100%;
    display: block;
  }
  .secondDiv p {
    font-size: 15px;
    text-align: left;
    margin-left: 0;
  }
}

/* 481- 768 */
@media (min-width: 481px) and (max-width: 768px) {
  .firstDiv {
    display: flex;
    flex-direction: column;
  }
  .firstDiv p {
    text-align: left;
    margin-left: 0;
  }
  .secondDiv {
    display: flex;
    flex-direction: column;
  }
  .secondDiv p {
    text-align: left;
    margin-left: 0;
  }
}

/* 769- 1200 */
@media (min-width: 769px) and (max-width: 800px) {
  .mainDiv {
    height: 100vh;
    width: 100%;
  }
  .firstDiv {
    display: flex;
    /* margin-top: 50px; */
  }
  .firstDiv p {
    font-size: 21px;
  }
  .secondDiv {
    /* margin-top: 30px; */
    display: flex;

  }
  .secondDiv p {
    font-size: 21px;
  }
}

/* 801 - 1000  */
@media (min-width: 801px) and (max-width: 1000px) {
  /* .mainDiv {
    height: 100vh;
    width: 100%;
  } */
  .firstDiv {
    display: flex;
  }
  .firstDiv p {
    font-size: 32px;
  }
  .secondDiv {
    margin-top: 30px;
    display: flex;

  }
  .secondDiv p {
    font-size: 32px;
  }
}
/*  1000 - 1200  */
@media (min-width: 1000px) and (max-width: 1200px) {
  /* .mainDiv {
    height: 100vh;
    width: 100%;
  } */
  .firstDiv {
    display: flex;
  }
  .firstDiv p {
    font-size: 40px;
  }
  .secondDiv {
    margin-top: 30px;
    display: flex;

  }
  .secondDiv p {
    font-size: 40px;
  }
}